@font-face {
  font-family: "Pretendard-Black";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard Black"),
    url("/public/fonts/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("/public/fonts/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("/public/fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("/public/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("/public/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("/public/fonts/PretendardRegular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Light";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("/public/fonts/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("/public/fonts/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Thin";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("/public/fonts/Pretendard-Thin.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Pretendard-Medium", sans-serif; /* 모든 요소에 폰트 적용 */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* 전체 화면 높이를 100%로 설정 */
  overflow-y: auto; /* 수직 스크롤 활성화 */
  overflow-x: hidden;
}
